
<br />
<a href="/tasks/new">[ new ] </a>
<hr />
<div id="app"></div>

<!-- -->
<script type="text/babel">

//
class List extends React.Component {
    constructor(props) {
        super(props);
        this.state = {data: ''}
    }
    componentDidMount(){
        axios.get('/api/tasks_index').then(response => {
            this.setState({ data: response.data.docs })
            console.log( response.data.docs )
        })
        .catch(function (error) {
            console.log(error)
        })
    }
    tabRow(){
        if(this.state.data instanceof Array){
            return this.state.data.map(function(row, index){
                return (
                    <tr key={index}>
                        <td>{row._id}</td>
                        <td>{row.title}</td>
                        <td>{row.content}</td>
                    </tr>            
                )
            })
        }
    }
    render(){
        return (
            <div>
                <h1>index</h1>
                <table className="table table-hover">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>Title</td>
                        <td>content</td>
                    </tr>
                    </thead>
                    <tbody>
                    {this.tabRow()}
                    </tbody>
                </table>            
            </div>
        )
    }
  
}

ReactDOM.render(<List />, document.getElementById('app'));
</script>